body {
    margin: 0;
    box-sizing: border-box;
}

/* Nav */

nav {
    background-image: url(jus/elements-summer-fruits-patterns-2P6QQ5-2018-04-17/SummerFruitsPatterns-04.jpg);
}

nav h2 {
    margin:0;
    text-align: center;
    padding: 20px 0;
    font-size:40px;
}

nav h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

nav form {
    text-align: center;
    padding-bottom:30px;
}

#inputNav {
    width:40%;
    padding:10px 0;
}

#boutonNav {
    padding:11px 0;
    color:green;
    background-color: yellow;
    margin-left:-6px;
}

#pTitreAccueil {
    width:80%;
    margin:20px auto;
}

#pTitreAccueil a {
    text-decoration: none;
    color:aqua;
    font-weight: bold;
}

#cadreAccueil {
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:auto;
}

#cadreAccueil a {
    text-align: center;
    width:22%;
    border: 2px solid lightgrey;
}

#cadreAccueil a img {
    height:300px;
    padding:10px;
}

#cadreAccueil a p {
    text-decoration: none;
    color:black;
    border-top:2px solid lightgrey;
    padding-top:10px;
}

#pPiedAccueil {
    text-align: center;
    padding:20px 0;
}

#aPiedAccueil {
    text-align: center;
}

#aPiedAccueil a{
    text-decoration: none;
    color:aqua;
    font-weight: bold;
}
