body {
    margin: 0;
    box-sizing: border-box;
}

/* Nav */

nav {
    background-image: url(jus/elements-summer-fruits-patterns-2P6QQ5-2018-04-17/SummerFruitsPatterns-06.jpg);
}

nav h2 {
    margin:0;
    text-align: center;
    padding: 20px 0;
}

nav h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}
#formulaire {
    width:35%;
    margin:auto;
}

#formulaire p {
    font-size:30px;
}

#connexion {
    border: 2px solid black;
    padding:10px;
}

#Envoyer {
    margin-left:520px;
    padding:5px;
}

.erreur {
    text-align: center;
    font-size:30px;
}

/* liste admin */

#divListe {
    display: flex;
    width:80%;
    margin:auto;
    justify-content: space-between;
}

#divListe div {
    width:49%;
}

#divListe div h4 {
    padding:0 10px;
    font-size:30px;
    display: flex;
    justify-content: space-between;

}

#divListe div h4 a {
    text-decoration: none;
    color:grey;
    border:1px solid grey;
    padding:5px;
}


#divListe div p a {
    text-decoration: none;
    color:grey;
    font-size:25px;
    padding-left:10px;
}

/* ajout ingredient admin */

#h2AjoutIngredientAdmin { 
    font-size:40px;
    width:80%;
    margin:auto;
}

#ingredientAdmin {
    display: flex;
    width:80%;
    margin:auto;
   justify-content: space-between;
}

.divForm {
    width:50%;
}

.divForm p {
    font-size:30px;
}

.divForm input {
    border: 2px solid lightgray;
    width:60%;
    height:40px;
}

.divForm textarea,select {
    width:60%;
}

#submitAjoutIngredientAdmin {
    width:10%;
    margin:30px 0 0 183px;
}

/* creation_admin */

section {
    width:80%;
    margin:auto;
}

section p {
    font-size:30px;
    margin:0;
}

section p a {
    font-size:40px;
    text-decoration: none;
    color:grey;
    border: 2px solid grey;
    padding:0 10px;
    margin-left:10px;
}

section form {
    display: flex;
    margin-bottom:40px;
}

section form select{
    width:30%;
    margin-left:10px;
}

section form input{
    margin:0 10px;
}

section a {
    text-decoration: none;
    color:black;
    border:2px solid grey;
    font-size:20px;
    padding:5px 10px;
}